---
layout: default
---

<div class="container">
  <div class="page-header">
    <h1>Answering Questions using Web Data</h1>
  </div>

	<p>WDAqua (Answering Questions using Web Data) is a <a href="http://ec.europa.eu/research/mariecurieactions/">Marie Skłodowska-Curie Innovative Training Network (ITN)</a>.</p>
  <p>Smart infrastructures and citizens’ participation in the digital society are increasingly data-driven. Sharing, connecting, managing, analysing and understanding data on the web will enable better services for citizens, communities and industry. However, turning web data into successful services for the public and private sector requires skilled web and data scientists as well as further research in the field.</p>
  <p>WDAqua aims to advance the field of data-driven question answering through a  combination of <strong>training</strong>, <strong>research</strong> and <strong>innovation</strong>. Question answering is relevant to a diverse range of end users, and we will demonstrate this in settings including e-commerce, public sector information, publishing and smart cities.</p>
</div>

<div class='container'>
  <div class="page-header">
    <h1>Students</h1>
  </div>
  <div class='row'>
    {% for student in site.students %}
      <div class="person col-lg-4 col-sm-6 text-center">
        <a href="{{student.url}}">
          {% if student.image %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/students/{{student.image}}" alt="">
          {% else %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/person.png" alt="">
          {% endif %}
          <h3>{{ student.name }}</h3>
          <p>{{ student.project }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
