---
redirect_from:
  - /events/
---

<div class='container'>
  <div class="page-header">
    <h1>News</h1>
  </div>
  {% for post in site.categories.news %}
    <article>
      {% if post.summary %}
        <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
        {% if post.image %}
          <div class="row">
            <div class="col-md-6">
              {{ post.summary | markdownify }}
            </div>
            <div class="col-md-6">
              <img src="{{site.baseurl}}/assets/images/news/{{post.image}}" />
            </div>
          </div>
        {% else %}
          {{ post.summary | markdownify }}
        {% endif %}
        <p>(<a href="{{post.url}}">read more</a>)</p>
      {% else %}
        <h2>{{ post.title }}</h2>
        {% if post.image %}
          <div class="row">
            <div class="col-md-6">
              {{ post.content }}
            </div>
            <div class="col-md-6">
              <img class="img-responsive" src="{{site.baseurl}}/assets/images/news/{{post.image}}" />
            </div>
          </div>
        {% else %}
          {{ post.content }}
        {% endif %}
        {% if post.link %}
          <p>(<a href="{{post.link}}">read more</a>)</p>
        {% endif %}
      {% endif %}
    </article>
  {% endfor %}
</div>
