---
redirect_from:
  - /supervisors-and-students/
  - /advisory-board/
  - /advisors/
  - /students/
  - /supervisors/
layout: default
---

<div class='container' id="students">
  <div class="page-header">
    <h1>Students</h1>
  </div>
  <div class='row'>
    {% for student in site.students %}
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="{{student.url}}">
          {% if student.image %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/students/{{student.image}}" alt="">
          {% else %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/person.png" alt="">
          {% endif %}
          <h3>{{ student.name }}</h3>
          <p>{{ student.project }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class='container' id="supervisors">
  <div class="page-header">
    <h1>Supervisors</h1>
  </div>
  <div class='row'>
    {% for supervisor in site.supervisors %}
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="{{supervisor.url}}">
          {% if supervisor.image %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/supervisors/{{supervisor.image}}" alt="">
          {% else %}
            <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/person.png" alt="">
          {% endif %}
          <h3>{{ supervisor.name }}</h3>
          <p>{{ supervisor.role }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class='container' id="advisors">
  <div class="page-header">
    <h1>Advisors</h1>
  </div>
  <div class='row'>
    {% for advisor in site.advisors %}
      {% capture advisor-html %}
        {% if advisor.image %}
          <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/advisors/{{advisor.image}}" alt="">
        {% else %}
          <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/person.png" alt="">
        {% endif %}
        <h3>{{ advisor.name }}</h3>
        <p>{{ advisor.role }}</p>
        <p>{{ advisor.institution }}</p>
      {% endcapture %}
      <div class="col-lg-4 col-sm-6 text-center">
        {% if advisor.content != "" %}
          <a href="{{advisor.url}}">
            {{ advisor-html }}
          </a>
        {% else %}
          {{ advisor-html }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
