---
redirect_from:
  - /supervisors-and-students/
  - /advisors/
layout: default
---

<div class="page-header">
  <h1>People</h1>
</div>

<div class='container-fluid'>
  <h2>Students</h2>
  <div class='row'>
    {% for student in site.students %}
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="{{student.url}}">
          <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/students/{{student.image}}" alt="">
          <h3>{{ student.name }}</h3>
          <p>{{ student.project }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class='container-fluid'>
  <h2>Supervisors</h2>
  <div class='row'>
    {% for supervisor in site.supervisors %}
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="{{supervisor.url}}">
          <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/supervisors/{{supervisor.image}}" alt="">
          <h3>{{ supervisor.name }}</h3>
          <p>{{ supervisor.role }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class='container-fluid'>
  <h2>Advisors</h2>
  <div class='row'>
    {% for advisor in site.advisors %}
      <div class="col-lg-4 col-sm-6 text-center">
        <a href="{{advisor.url}}">
          <img class="img-circle img-responsive img-center" src="{{site.baseurl}}/assets/images/advisors/{{advisor.image}}" alt="">
          <h3>{{ advisor.name }}</h3>
          <p>{{ advisor.role }}</p>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
