<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 footer-content">
        <img src="{{site.baseurl}}/assets/images/logos/bonn.png" class="logo">
      </div>
      <div class="col-sm-3 footer-content">
        <img src="{{site.baseurl}}/assets/images/logos/soton.png" class="logo">
      </div>
      <div class="col-sm-2 footer-content">
        <img src="{{site.baseurl}}/assets/images/logos/odi.svg" class="logo">
      </div>
      <div class="col-sm-2 footer-content">
        <img src="{{site.baseurl}}/assets/images/logos/st-etienne.png" class="logo">
      </div>
      <div class="col-sm-3 footer-content">
        <img src="{{site.baseurl}}/assets/images/logos/athens.png" class="logo">
      </div>
    </div>
  </div>
  <div class="container"
    <div class="row">
      <div class="col-md-1 footer-content">
        <img src="{{site.baseurl}}/assets/images/flag_yellow_low.jpg" alt="European Union" class="logo">
      </div>
      <div class="col-md-7 footer-content">
        <p>This project has received funding from the European Union‘s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 642795.</p>
      </div>
      <div class="col-md-4 footer-nav">
        <nav>
          <ul class="pull-right list-inline">
            <li><a href="http://www.twitter.com/WDAqua" class=" "><img alt="Follow us on Twitter" src="{{site.baseurl}}/assets/images/twitter.png" title="Follow us on Twitter"></a></li>
            <li><a href="https://github.com/orgs/WDAqua" class=" "><img alt="Follow us on Github" src="{{site.baseurl}}/assets/images/github.png" title="Follow us on Github"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
