---
---

@import 'colours';
@import 'fonts';
@import 'bootstrap-custom';
@import 'bootstrap';

body {
  font-family: $font-primary;
}

header {
  position: relative;
}

header #students {
  width: 100%;
}

header #logo {
  position: absolute;
  width: 40%;
  bottom: 15%;
  background-color: rgba(249,249,249,0.92);
  padding: 1em 1em 1em 10%;
}

footer {
  margin: 2em 0;
  padding: 2em 0;
  border-top: 10px $brand-primary solid;
}

footer .logo {
  width: 100%;
}

.navbar-brand img {
  height: 100%;
}

.grid {
  margin-top: 40px;
}

.grid-item-content {
  padding: $padding-large-horizontal;
  margin: $padding-large-vertical;
  background-color: lighten($grey, 30%);

  color: $blue;
  a {
    color: $blue;
  }

  a:hover {
    text-decoration: none;
    color: darken($blue, 10%);
  }

  h2 {
    margin: 0;
  }

  .module-img {
    width: 100px;
  	height: 100px;
    position: absolute;
    top: -30px;
    left: 0px;
  	border: 3px solid $blue;
  	border-radius: 50px;
  	-webkit-border-radius: 50px;
  	-moz-border-radius: 50px;
    overflow: hidden;
    text-align: center;

    img {
      width: 100px;
    }
  }

  .module-heading {
    margin-left: 60px;
  }
}

.student {
  .page-header {
    position: relative;

    .image  {
      width: 150px;
      height: 150px;
      border: 3px solid $blue;
      border-radius: 75px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      overflow: hidden;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 150px;
      }
    }
  }

}

.map, .viz {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
}

.viz {
  width: 49%;
  height: 300px;
}

.institution-popup {
  text-align: center;

  hr {
    padding: 0;
    margin: $padding-small-vertical;
    border-color: $grey;
  }
}

.leaflet-marker-pane {
  img {
    background-color: transparentize($grey, 0.7);
  }
}

.story {
  h2, p {
    color: white;
  }
}
